---
---

@import "{{ site.theme }}";

div.director{
    padding: 2px;
    border-radius: 5px;
    border: 2px solid rgb(175, 8, 8);
    width: 100%;
    height: 100%;
    margin-bottom: 5px; 
    text-align: center;
}