---
---

@import "{{ site.theme }}";

div.director{
    padding: 2px;
    border-radius: 5px;
    border: 1px solid rgb(23, 131, 23);
    width: 80%;
    margin-left:auto;
    margin-right: auto;
    height: 100%;
    font-size: 85%;
    margin-bottom: 5px; 
}
span.site-footer-credits{
    font-size: 75%;
}